/* ========== GENERAL STYLES ========== */

@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /*YAUYOS*/
    /*--c-primary: #3E94A3;*/
    /*--c-accent: #E6BD53;*/
    /*--ff-roboto: 'Roboto', sans-serif;*/
    --c-primary: #3E94A3;
    --c-primary-rgb: 62,148,163;
    --c-accent: #E6BD53;
    --sh-primary: 0 0 0 0.2rem rgba(0, 180, 219, 0.3);
    --ff-roboto: 'Roboto', sans-serif;
    --bg-grad-h: linear-gradient(To right, #3E94A3, #E6BD53);
    --bg-grad-v: linear-gradient(90deg, #3E94A3, #E6BD53);
}

/* COLOR TEXT */
.text_p {
    color: var(--c-primary);
}

.text_a {
    color: var(--c-accent);
}

/* BACKGROUNDS */
/*.bg_primary {
    background: var(--c-primary);
}*/

.bg_p {
    background: var(--c-primary);
}

.bg_grad_h {
    background-image: var(--bg-grad-h);
}

.bg_grad_v {
    background-image: var(--bg-grad-v);
}

/*BUTTONS*/
.btn_p {
    background-color: var(--c-primary);
    color: var(--c-white);
}
.btn_p:hover {
    background-color: var(--c-accent);
    color: var(--c-white);
}